@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-ThinInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-ExtraLightInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-LightInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-RegularInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-MediumInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-MediumInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-SemiBoldInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-BoldInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Blimone";
  src: url(../public/fonts/Blimone-ExtraBoldInktrap.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Blimone", sans-serif;
}

.body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
}
@media screen and (max-width: 1600px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

.section {
  width: 100%;
  height: 100%;
}

.mb {
  margin-bottom: 4rem;
}
@media screen and (max-width: 1600px) {
  .mb {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1100px) {
  .mb {
    margin-bottom: 2rem;
  }
}

.mr {
  margin-right: 1rem;
}

.mt {
  margin-top: 4rem;
}
@media screen and (max-width: 1600px) {
  .mt {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1100px) {
  .mt {
    margin-top: 2rem;
  }
}

.flex__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading__large {
  font-size: 4rem;
}
@media screen and (max-width: 1600px) {
  .heading__large {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1100px) {
  .heading__large {
    font-size: 2rem;
  }
}

button {
  padding: 0 6rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
}
button:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 1600px) {
  button {
    padding: 0 4rem;
    height: 3rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1100px) {
  button {
    padding: 0;
    width: 100%;
    height: 4rem;
    font-size: 1rem;
  }
}

.input {
  width: 80%;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 6rem;
  transition: all 0.3s ease-in-out;
}
.input:active {
  outline: none;
  border-bottom: 2px solid #000;
}
.input:focus {
  outline: none;
  border-bottom: 2px solid #1CD679;
}
.input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}
@media screen and (max-width: 1600px) {
  .input::-moz-placeholder {
    font-size: 1.2rem;
  }
  .input::placeholder {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1100px) {
  .input::-moz-placeholder {
    font-size: 1rem;
  }
  .input::placeholder {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1600px) {
  .input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1100px) {
  .input {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.error {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1600px) {
  .error {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .error {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 1600px) {
  .selection {
    gap: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .selection {
    gap: 2rem;
  }
}

.question__heading {
  font-size: 3rem;
}
@media screen and (max-width: 1600px) {
  .question__heading {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1100px) {
  .question__heading {
    font-size: 1.5rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (max-width: 1600px) {
  footer {
    height: 8rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    height: 6rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=globals.css.map */